* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::selection {
  background-color: rgba(238, 6, 6, 0.418);
  backdrop-filter: blur(5px);
  color: #fff;
}

header h2 {
  color: gold;
  text-align: center;
  padding: 15px 10px;
  border-radius: 0 0 30px 30px;
  background-color: rgba(236, 111, 170, 0.747);
  backdrop-filter: blur(20px);
  user-select: none;
  display: block;
  width: 100%;
  top: 0;
  -webkit-position: sticky;
  position: sticky;
  position: fixed;
}

header h2:hover {
  text-decoration: 2.5px underline rgba(255, 217, 0, 0.733);
}

div#home {
  margin-top: 10vh;
  margin-bottom: 22vh;
}

div#home p {
  background-color: rgba(129, 47, 98, 0.623);
  color: rgb(250, 154, 250);
  text-align: center;
  padding: 20px 10px;
  border: 2px solid rgba(211, 135, 211, 0.589);
  border-radius: 30px 30px 10px 10px;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 2vh;
}

div#home p span {
  float: right;
  background: none;
  margin-top: -10px;
  padding: 4px 20px;
  color: #f56868;
}

div#home p kbd {
  background: none;
  color: rgba(252, 252, 29, 0.829);
  font-weight: bold;
}

div#home div.img img {
  margin-top: 1.5vh;
}

div#prds {
  margin-top: 9vh;
  margin-bottom: 14vh;
}

/* Clear floats after the columns */
div.row:after {
  content: "";
  display: table;
  clear: both;
}

div#tools {
  margin-top: 10vh;
  margin-bottom: 22vh;
}

div#conts {
  margin-top: 10vh;
  margin-bottom: 22vh;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  user-select: none;
  width: 100%;
  /* border-bottom: 3px solid rgba(247, 65, 104, 0.651); */
}

footer button {
  background-color: rgba(36, 14, 14, 0.849);
  color: wheat;
  /* font-size: 16px; */
  border: none;
  outline: none;
  padding: 15px;
  display: block;
  float: left;
  margin: auto;
  text-align: center;
  width: 25%;
  border-right: 0.5px solid rgba(175, 80, 80, 0.801);
  /* border-bottom: 1.5px solid rgba(255, 130, 130, 0.801); */
  cursor: pointer;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

footer button.active {
  font-weight: bold;
  background-color: rgba(165, 18, 18, 0.582);
  /* border-bottom: 3px solid cornflowerblue; */
  border-bottom-right-radius: 18px;
  transition: 0.5s;
}

footer button:hover {
  font-weight: bold;
  background-color: rgba(165, 18, 18, 0.582);
  /* border-bottom: 3px solid #ddd; */
}

footer button:active {
  font-weight: bold;
  background-color: rgba(165, 18, 18, 0.582);
  /* border-bottom: 2px solid #ddd; */
}

footer button:nth-child(4):active {
  font-weight: bold;
  background-color: rgba(165, 18, 18, 0.582);
  /* border-bottom: 2px solid #ddd; */
}

/* .btn {
  padding: 10px 15px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgba(105, 103, 212, 0.726);
  color: #fff;
  user-select: none;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:hover {
  background-color: rgba(132, 130, 247, 0.726);
  color: #fff;
  border-left: 3px solid rgba(175, 80, 80, 0.801);
  border-right: 3px solid rgba(175, 80, 80, 0.801);
}

.btn:active {
  background-color: rgba(204, 114, 114, 0.658);
} */

footer div.copyright {
  /* margin-top: 3px; */
  background-color: rgba(187, 45, 45, 0.568);
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-size: small;
  border-top: 2px solid rgba(253, 120, 120, 0.801);
  border-bottom: 1px solid rgba(175, 80, 80, 0.801);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* 
.card button {
  border: none;
  outline: 0;
  padding: 8px;
  border-radius: 0 0 8px 8px;
  color: white;
  background-color: rgba(121, 7, 7, 0.404);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card button:active {
  opacity: 0.5;
} */

@media only screen and (orientation: portrait) {
header h2 {
  font-size: medium;
}

  div#home p {
    font-size: 15px;
  }  
  
  div.img img {
    width: 85%;
    height: auto;
    border-radius: 10px;
    /* border: 2px solid rgba(104, 48, 104, 0.788); */
    /* margin: -50px 5px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts kbd {
    background: none;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.about-text {
    margin: 65px 5px;
    padding: 15px;
    width: fit-content;
    text-align: center;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    background-color: rgba(248, 188, 98, 0.589);
    border: 1px solid rgb(224, 224, 183);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    width: auto;
    height: 110px;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.contact-info {
    font-size: 12px;
    padding: 12px 8px;
    display: block;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 1px solid rgb(151, 116, 116);
  }

  footer div.copyright {
    font-size: 12px;
    margin: auto;
  }
}

/* @media only screen and (orientation: landscape) {
} */

/* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 600px) {
  div#home div.img img {
    width: 85%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(252, 102, 194);
    margin: auto;
    display: block;
  }

  footer button {
    font-size: small;
    margin: auto;
    text-align: center;
  }

  div#prds div.row {
    margin-left: 12px;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    float: left;
    width: 48.5%;
    /* height: 55vh; */
    padding: 10px;
    background-color: rgba(133, 29, 77, 0.527);
    color: rgb(248, 172, 172);
    margin: auto;
    font-family: arial;
    border: 2.5px solid rgba(253, 80, 80, 0.705);
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    box-shadow: 0 8px 16px 0 rgb(245, 117, 117);
    background-color: rgba(185, 51, 114, 0.527);
    /* border: 2.5px solid rgb(155, 22, 22); */
    color: rgb(240, 213, 213);
  }

  div#prds div.row div.column img {
    height: 160px;
    width: auto;
    border-radius: 8px 8px 0 0;
    border: 1.5px solid rgba(217, 125, 240, 0.685);
  }

  div#prds div.row div.column span.title {
    font-weight: bold;
    font-size: 12px;
    background: none;
    padding: 3px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div#prds div.row div.column span.price {
    font-size: 12px;
    background: none;
    padding: 3px;
  }

  div#prds div.row div.column span.description {
    font-size: 13px;
    background: none;
    display: block;
    padding: 4px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div#conts div.about-text {
    margin: 65px 5px;
    padding: 15px;
    width: 85%;
    text-align: center;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    background-color: rgba(248, 188, 98, 0.589);
    border: 1px solid rgb(224, 224, 183);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    width: auto;
    height: 110px;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.contact-info {
    margin-top: -55px;
    font-size: 12px;
    display: block;
    color: rgb(255, 255, 255);
    margin-left: 60px;
  }

  div#conts div.contact-info a {
    color: rgb(229, 166, 166);
    text-decoration: none;
    border-bottom: 1px solid rgba(118, 214, 221, 0.856);
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  div.img img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(248, 90, 248);
    margin: -50px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin: 65px 5px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    align-items: center;
  }

  footer button {
    font-size: medium;
  }

  /* Create two equal columns that floats next to each other */
  div.column {
    float: left;
    width: 49%;
    height: 55vh;
    padding: 10px;
    background-color: rgba(114, 45, 24, 0.521);
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: arial;
    border: 2.5px solid rgba(212, 102, 102, 0.555);
    border-radius: 10px;
    display: block;
  }

  div.column:hover {
    box-shadow: 0 8px 16px 0 rgba(224, 41, 41, 0.568);
  }

  div.row div.column img {
    height: 200px;
    width: 100px;
    border-radius: 8px 8px 0 0;
    border: 1.5px solid rgba(225, 151, 243, 0.575);
  }

  div.row div.column span.title {
    color: rgb(216, 58, 58);
    font-weight: bold;
    font-size: 16px;
    background: none;
    padding: 3px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div.row div.column span.price {
    color: rgb(204, 58, 58);
    font-size: 15px;
    background: none;
    padding: 3px;
  }

  div.row div.column span.description {
    color: rgb(218, 93, 35);
    font-size: 14px;
    background: none;
    display: block;
    padding: 4px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div.about-text {
    margin: 65px 5px;
    padding: 15px;
    width: 80%;
    text-align: center;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    background-color: rgba(248, 188, 98, 0.589);
    border: 1px solid rgb(224, 224, 183);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.about-text .profilepic {
    width: auto;
    height: 110px;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.contact-info {
    margin-top: -55px;
    font-size: 12px;
    display: block;
    color: rgb(255, 255, 255);
    margin-left: 80px;
  }

  div.contact-info a {
    color: rgb(229, 166, 166);
    text-decoration: none;
    border-bottom: 1px solid rgba(118, 214, 221, 0.856);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  div.img img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(248, 90, 248);
    margin: -50px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  footer button {
    font-size: medium;
  }

  /* Create two equal columns that floats next to each other */
  div.column {
    float: left;
    width: 32.5%;
    height: 55vh;
    padding: 10px;
    background-color: rgba(114, 45, 24, 0.521);
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: arial;
    border: 2.5px solid rgba(212, 102, 102, 0.555);
    border-radius: 10px;
  }

  div.column:hover {
    box-shadow: 0 8px 16px 0 rgba(224, 41, 41, 0.568);
  }

  div.row div.column img {
    height: 180px;
    width: 100px;
    border-radius: 8px 8px 0 0;
    border: 1.5px solid rgba(225, 151, 243, 0.575);
  }

  div.row div.column span.title {
    color: rgb(216, 58, 58);
    font-weight: bold;
    font-size: 16px;
    background: none;
    padding: 3px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div.row div.column span.price {
    color: rgb(204, 58, 58);
    font-size: 15px;
    background: none;
    padding: 3px;
  }

  div.row div.column span.description {
    color: rgb(218, 93, 35);
    font-size: 14px;
    background: none;
    display: block;
    padding: 4px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div.about-text {
    margin: 65px 5px;
    padding: 15px;
    width: 70%;
    text-align: center;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    background-color: rgba(248, 188, 98, 0.589);
    border: 1px solid rgb(224, 224, 183);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.about-text .profilepic {
    width: auto;
    height: 110px;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.contact-info {
    margin-top: -55px;
    font-size: 12px;
    display: block;
    color: rgb(255, 255, 255);
    margin-left: 145px;
  }

  div.contact-info a {
    color: rgb(229, 166, 166);
    text-decoration: none;
    border-bottom: 1px solid rgba(118, 214, 221, 0.856);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  div.img img {
    width: 40%;
    height: auto;
    display: block;
  }

  footer button {
    font-size: medium;
  }

  /* Create two equal columns that floats next to each other */
  div.column {
    float: left;
    width: 32.7%;
    height: 55vh;
    padding: 10px;
    background-color: rgba(114, 45, 24, 0.521);
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: arial;
    border: 2.5px solid rgba(212, 102, 102, 0.555);
    border-radius: 10px;
  }

  div.column:hover {
    box-shadow: 0 8px 16px 0 rgba(224, 41, 41, 0.568);
  }

  div.row div.column img {
    height: 200px;
    width: 80px;
    border-radius: 8px 8px 0 0;
    border: 1.5px solid rgba(225, 151, 243, 0.575);
  }

  div.row div.column span.description {
    color: rgb(218, 93, 35);
    font-size: 15px;
    background: none;
    display: block;
    padding: 4px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div.about-text {
    margin: 65px 5px;
    padding: 15px;
    width: 75%;
    text-align: center;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    background-color: rgba(248, 188, 98, 0.589);
    border: 1px solid rgb(224, 224, 183);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.about-text .profilepic {
    width: auto;
    height: 110px;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.contact-info {
    margin-top: -55px;
    font-size: 12px;
    display: block;
    color: rgb(255, 255, 255);
    margin-left: 160px;
  }

  div.contact-info a {
    color: rgb(229, 166, 166);
    text-decoration: none;
    border-bottom: 1px solid rgba(118, 214, 221, 0.856);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  div.img img {
    width: 40%;
    height: auto;
    display: block;
  }

  footer button {
    font-size: medium;
  }

  div.column {
    float: left;
    width: 24.5%;
    height: 55vh;
    padding: 10px;
    background-color: rgba(114, 45, 24, 0.521);
    margin-left: 5px;
    font-family: arial;
    border: 2.5px solid rgba(212, 102, 102, 0.555);
    border-radius: 10px;
  }

  div.row div.column img {
    height: 200px;
    width: auto;
    border-radius: 8px 8px 0 0;
    border: 1.5px solid rgba(225, 151, 243, 0.575);
  }

  div.row div.column span.title {
    color: rgb(216, 58, 58);
    font-weight: bold;
    font-size: 16px;
    background: none;
    padding: 3px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div.row div.column span.price {
    color: rgb(204, 58, 58);
    font-size: 15px;
    background: none;
    padding: 3px;
  }

  div.row div.column span.description {
    color: rgb(218, 93, 35);
    font-size: 14px;
    background: none;
    display: block;
    padding: 4px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div.about-text {
    margin: 65px 5px;
    padding: 15px;
    width: 70%;
    text-align: center;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    background-color: rgba(248, 188, 98, 0.589);
    border: 1px solid rgb(224, 224, 183);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.about-text .profilepic {
    width: auto;
    height: 110px;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.contact-info {
    margin-top: -55px;
    font-size: 12px;
    display: block;
    color: rgb(255, 255, 255);
    margin-left: 260px;
  }

  div.contact-info a {
    color: rgb(229, 166, 166);
    text-decoration: none;
    border-bottom: 1px solid rgba(118, 214, 221, 0.856);
  }
}

/* Extra extra large devices (large laptops and desktops, 1400px and up) */

@media only screen and (min-width: 1400px) {
  div.img img {
    width: 40%;
    height: auto;
    display: block;
  }

  footer button {
    font-size: medium;
  }

  div.column {
    float: left;
    width: 24.5%;
    height: 55vh;
    padding: 10px;
    background-color: rgba(114, 45, 24, 0.521);
    margin-left: 5px;
    font-family: arial;
    border: 2.5px solid rgba(212, 102, 102, 0.555);
    border-radius: 10px;
  }

  div.row div.column img {
    height: 200px;
    width: auto;
    border-radius: 8px 8px 0 0;
    border: 1.5px solid rgba(225, 151, 243, 0.575);
  }

  div.row div.column span.title {
    color: rgb(216, 58, 58);
    font-weight: bold;
    font-size: 16px;
    background: none;
    padding: 3px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div.row div.column span.price {
    color: rgb(204, 58, 58);
    font-size: 15px;
    background: none;
    padding: 3px;
  }

  div.row div.column span.description {
    color: rgb(218, 93, 35);
    font-size: 14px;
    background: none;
    display: block;
    padding: 4px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
  }

  div.about-text {
    margin: 65px 5px;
    padding: 15px;
    width: 70%;
    text-align: center;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    background-color: rgba(248, 188, 98, 0.589);
    border: 1px solid rgb(224, 224, 183);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
