* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ffffff;
}

::selection {
  background-color: rgba(167, 120, 120, 0.418);
  backdrop-filter: blur(5px);
  color: #fff;
}

header h2 {
  color: rgb(180, 79, 11);
  text-align: center;
  padding: 13px;
  border-radius: 0 0 25px 25px;
  /* background-color: rgb(157, 188, 245); */
  /* backdrop-filter: blur(20px); */
  user-select: none;
  display: block;
  width: 100%;
  /* top: 0; */
  text-decoration: underline 2px;
}

header h2:hover {
  -webkit-text-stroke: #fabd3b .5px;
}

div#home div.description-box {
  /* background-color: rgb(165, 32, 114); */
  color: rgb(202, 24, 24);
  border-radius: 15px;
  font-weight: bold;
  padding: 20px 15px;
  text-align: start;
  text-align: end;
  text-align: left;
  text-align: right;
  text-align: center;
  text-align: justify;
  margin-bottom: 10px;
}

div#home div.description-box kbd {
  color: rgba(145, 145, 66, 0.932);
  font-weight: bold;
}

div#home div.description-box kbd.title {
  color: #b34ddb;
}

/* Clear floats after the columns */
div.row::after {
  content: "";
  clear: both;
  display: table;
}

div#prds div#product-bar div.bar1,
div#prds div#product-bar div.bar2 {
  background-color: #f8b972;
  padding: 2px;
  width: 25px;
  margin: 2.8px;
  cursor: pointer;
  border-radius: 5px;
}

div#prds div#product-bar,
div#prds div#product-close {
  margin-left: 18px;
  margin-top: 12px;
  cursor: pointer;
  top: 0;
  -webkit-position: sticky;
  position: sticky;
  position: fixed;
  z-index: 3;
}

div#prds div#product-close div.bar3 {
  background-color: #f8b972;
  padding: 2px;
  width: 25px;
  margin: 2.8px;
  cursor: pointer;
  transform: rotate(135deg) translate(2px, -2px);
  border-radius: 5px;
}

div#prds div#product-close div.bar4 {
  background-color: #f8b972;
  padding: 2px;
  width: 25px;
  margin: 2.8px;
  cursor: pointer;
  transform: rotate(-135deg) translate(2.8px, 3px);
  border-radius: 5px;
}

div#prds div.product-category {
  background-color: #fdc687;
  padding: 15px;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 38px;
  top: 0;
  -webkit-position: sticky;
  position: sticky;
  position: fixed;
  z-index: 3;
  width: fit-content;
}

div#prds div.product-category ol {
  list-style-type: none;
  display: block;
  margin: auto;
}

div#prds div.product-category ol h3 {
  font-size: 15px;
  margin-bottom: 5px;
  color: rgb(11, 34, 54);
}

div#prds div.product-category ol li {
  display: block;
  margin-left: 1px;
}

div#prds div.product-category ol li a {
  color: rgb(201, 57, 0);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: block;
  padding-bottom: 5px;
  transition: 0.5s;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  user-select: none;
  width: 100%;
  margin: auto;
}

footer div.menu ul {
  list-style-type: none;
  display: block;
}

footer div.menu a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
  padding: 10px;
  border: 1px solid rgb(211, 174, 174);
  margin: 5px;
  cursor: pointer;
  background-color: rgb(36, 14, 14);
  color: wheat;
  border: none;
  outline: none;
  padding: 15px;
  display: block;
  float: left;
  margin: auto;
  text-align: center;
  width: 25%;
  border-right: 0.5px solid rgb(211, 174, 174);
}

footer div.menu a.active {
  font-weight: bold;
  background-color: rgb(165, 18, 18);
  border-bottom-right-radius: 18px;
  transition: 0.5s;
}

footer div.menu a.active:nth-child(1) {
  border-bottom-right-radius: 0px;
}

footer div.menu a:hover {
  font-weight: bold;
  background-color: rgb(165, 18, 18);
}

footer div.menu a:active {
  font-weight: bold;
  background-color: rgb(165, 18, 18);
}

footer div.menu a:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-left: 0.5px solid rgb(211, 174, 174);
}

footer div.menu a:nth-child(4) {
  border-bottom-right-radius: 10px;
}

footer div.copyright {
  background-color: rgb(59, 11, 11);
  padding: 10px;
  text-align: center;
  /* width: fit-content; */
  color: #fff;
  font-size: small;
  border-top: 2px solid rgba(253, 120, 120, 0.801);
  border-bottom: 1px solid rgba(175, 80, 80, 0.801);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 550px) {
  div#home {
    margin-bottom: 90px;
  }

  header h2 {
    font-size: 16px;
  }

  div#home div.date-time iframe {
    padding: 2px 12px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    /* width: 45%;
    height: 65px; */
    /* display: block; */
    margin-left: 250px;
    font-size: 5px;
  }

  div#home div.description-box {
    font-size: 12px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
  }

  div#home div.img img {
    width: 80%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #eb70ad 1px solid;
    border-radius: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
  }

  footer div.menu a {
    font-size: small;
    margin: auto;
  }

  footer div.copyright {
    font-size: 10px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ...";
    padding: 10px 12px;
  }

  div#prds {
    margin-bottom: 85px;
  }

  div#prds input[type=text] {
    width: 60%;
    display: block;
    /* margin-top: 53px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 56px; */
    left: 0;
    right: 0;
    padding: 14px 12px;
    box-sizing: border-box;
    background-color: #fadeb4;
    color: #ac2615;
    border: 2px solid rgb(197, 119, 31);
    border-radius: 10px;
    outline: none;
    /* top: 0;
    -webkit-position: sticky;
    position: sticky;
    position: fixed;
    z-index: 1; */
    font-size: medium;
  }

  div#prds input::placeholder {
    color: #79631a;
  }

  div#prds div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    margin: auto;
    margin: 3px;
    position: relative;
    width: 60%;
    height: 280px;
    display: block;
    padding: 0px;
    background-color: #d35a21c2;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #fa936a;
  }

  div#prds div.row div.column:hover {
    box-shadow: 0px 0px 4px 4px #fa936a;
  }

  div#prds div.row div.column img {
    width: 100%;
    height: 200px;
    border: 3px solid #d35a21c2;
    border-bottom: none;
    position: relative;
    margin: auto;
    border-radius: 8px 8px 4px 4px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
  }

  div#prds div.row div.column div.box {
    padding: 3px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ....";
  }

  div#prds div.row div.column p.title {
    font-weight: bold;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ....";
    color: #fccd75;
    margin-bottom: 5px;
    padding-left: 2px;
  }

  div#prds div.row div.column p.price {
    font-size: 12px;
    padding-left: 3px;
    color: #fde6e6;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ...";
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ...";
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding-left: 3px;
    margin-top: 8px;
    margin-left: 4px;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    color: #fff;
    margin-top: -203px;
    height: 280px;
    padding: 5px;
    font-weight: bold;
    border-radius: 20px 20px 10px 10px;
    padding: 15px;
    background-color: rgb(117, 27, 21);
    position: relative;
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 14px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 11px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 5px;
    border-bottom: #f8b972 3px solid;
    padding: 2px 2px 10px 2px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  div#prds div.row div.column div#description-box p.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    border-bottom: none;
    border-radius: 0;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ..more";
  }

  div#tools {
    margin-bottom: 330px;
  }

  div#tools div.description-box {
    padding: 15px;
    border-radius: 15px;
    background-color: #f77538;
    color: #fff2a7;
    font-weight: bold;
    margin: auto;
    font-size: 14px;
    width: 80%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 10px;
  }

  div#tools div.calculator {
    width: 80%;
    margin: auto;
  }

  div#tools div.calculator input[type="text"] {
    font-size: 14px;
    border: none;
    outline: none;
    padding: 14px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div#tools div.calculator input[type="button"],
  div#tools div.calculator input[type="reset"] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 20px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
    font-size: 12px;
  }

  div#tools div.calculator input[type="button"].btn {
    width: 50%;
  }

  div#conts {
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 15px;
    width: 90%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    line-height: 16px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(240, 115, 13);
    display: block;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    width: auto;
    height: 110px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    display: block;
    margin: auto;
  }

  div#conts div.contact-info {
    width: 80%;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(221, 206, 118, 0.699);
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    white-space: nowrap;
    overflow: auto;
    text-overflow: " ...";
  }

  div#conts div.contact-info kbd {
    font-size: small;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: small;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: small;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 550px) {
  div#home {
    margin-bottom: 100px;
  }

  header h2 {
    font-size: 20px;
  }

  div#home div.date-time iframe {
    background-color: rgb(255, 233, 37);
    padding: 2px 12px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    width: 40%;
    height: 65px;
    display: block;
    margin: auto;
  }

  div#home div.description-box {
    font-size: 14px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  div#home div.img img {
    width: 60%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
  }

  footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: small;
  }

  footer div.menu a {
    font-size: small;
    margin: auto;
  }

  footer div.copyright {
    font-size: 12px;
    margin: auto;
    padding: 10px;
  }

  div#prds {
    margin-bottom: 85px;
  }

  div#prds div.row {
    margin-top: 5px;
    margin-left: 3px;
  }

  div#prds input[type=text] {
    width: 45%;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 56px; */
    left: 0;
    right: 0;
    padding: 14px 12px;
    box-sizing: border-box;
    background-color: #fadeb4;
    color: #ac2615;
    border: 2px solid rgb(197, 119, 31);
    border-radius: 10px;
    outline: none;
    /* top: 0;
    -webkit-position: sticky;
    position: sticky;
    position: fixed;
    z-index: 1; */
    font-size: medium;
  }

  div#prds input::placeholder {
    color: #79631a;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    position: relative;
    display: block;
    background-color: #d35a21c2;
    float: left;
    width: 32.5%;
    height: 248px;
    color: rgb(240, 213, 213);
    margin: auto;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #fa936a;
  }

  div#prds div.row div.column:hover {
    box-shadow: 0px 0px 3px 3px #fa936a;
  }

  div#prds div.row div.column img {
    border-radius: 8px 8px 4px 4px;
    width: 100%;
    object-fit: fill;
    height: 170px;
    display: block;
    position: relative;
    border: 3px solid #d35a21c2;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
  }

  div#prds div.row div.column div.box {
    padding: 2px;
    padding-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ....";
  }

  div#prds div.row div.column p.title {
    font-weight: bold;
    font-size: 12px;
    color: #f8ed89;
    margin-bottom: 4px;
    padding-left: 3px;
    width: fit-content;
  }

  div#prds div.row div.column p.price {
    font-size: 12px;
    color: #fde6e6;
    font-weight: bold;
    padding-left: 3px;
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding: 3px;
    margin-top: 4px;
    margin-left: 4px;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 15px 15px 10px 10px;
    margin-top: -168px;
    height: 243.5px;
    font-weight: bold;
    border-radius: 20px 20px 10px 10px;
    padding: 15px;
    background-color: rgb(117, 27, 21);
    position: relative;
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 14px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 11px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 5px;
    border-bottom: #f8b972 3px solid;
    padding: 2px 2px 10px 2px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  div#prds div.row div.column div#description-box p.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    border-bottom: none;
    border-radius: 0;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ..more";
  }

  div#tools {
    margin-bottom: 330px;
  }

  div#tools div.description-box {
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    margin: auto;
    width: 50%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 10px;
  }

  div#tools div.calculator {
    width: 50%;
    margin: auto;
    font-size: medium;
  }

  div#tools div.calculator input[type="text"] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div#tools div.calculator input[type="button"],
  div#tools div.calculator input[type="reset"] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }

  div#tools div.calculator input[type="button"].btn {
    width: 50%;
  }

  div#conts {
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 15px;
    width: 80%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(240, 115, 13);
    display: block;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    width: auto;
    height: 120px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    display: block;
    margin: auto;
  }

  div#conts div.contact-info kbd {
    font-size: 14px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgba(221, 206, 118, 0.699);
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: 13px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  div#home {
    margin-bottom: 100px;
  }

  header h2 {
    font-size: 20px;
  }

  div#home div.date-time iframe {
    background-color: rgb(255, 233, 37);
    padding: 2px 12px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    width: 30%;
    height: 65px;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 3px;
  }

  div#home div.description-box {
    font-size: 14px;
    max-width: 50%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  div#home div.img img {
    width: 50%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
  }

  footer {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: small;
  }

  footer button {
    font-size: 12px;
    margin: auto;
  }

  footer div.copyright {
    font-size: 12px;
    margin: auto;
    padding: 10px;
  }

  div#prds {
    margin-bottom: 100px;
  }

  div#prds div.row {
    margin-left: 100px;
    margin-right: 50px;
  }

  div#prds input[type=text] {
    width: 25%;
    display: block;
    /* margin-top: 53px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 56px; */
    left: 0;
    right: 0;
    padding: 14px 12px;
    box-sizing: border-box;
    background-color: #fadeb4;
    color: #ac2615;
    border: 2px solid rgb(197, 119, 31);
    border-radius: 10px;
    outline: none;
    /* top: 0;
    -webkit-position: sticky;
    position: sticky;
    position: fixed;
    z-index: 1; */
    font-size: medium;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    float: left;
    width: 30%;
    height: 255px;
    position: relative;
    display: block;
    background-color: #d35a21c2;
    margin: 3px;
    color: rgb(240, 213, 213);
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    box-shadow: 0px 0px 3px 3px #fa936a;
  }

  div#prds div.row div.column img {
    border-radius: 8px 8px 0 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    width: 100%;
    height: 180px;
    /* object-fit: cover; */
    display: block;
    position: relative;
  }

  div#prds div.row div.column div.box {
    padding: 2px;
    padding-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ....";
  }

  div#prds div.row div.column p.title {
    font-weight: bold;
    font-size: 12px;
    color: #f8ed89;
    margin-bottom: 4px;
    padding-left: 3px;
    width: fit-content;
  }

  div#prds div.row div.column p.price {
    font-size: 12px;
    color: #fde6e6;
    font-weight: bold;
    padding-left: 3px;
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding: 3px;
    margin-top: 4px;
    margin-left: 4px;
    width: fit-content;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    margin-top: -175px;
    height: 250px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 20px 20px 10px 10px;
    padding: 15px;
    background-color: rgb(117, 27, 21);
    position: relative;
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 14px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 11px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 5px;
    border-bottom: #f8b972 3px solid;
    padding: 2px 2px 10px 2px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  div#prds div.row div.column div#description-box p.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    border-bottom: none;
    border-radius: 0;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ..more";
  }

  div#tools {
    margin-bottom: 330px;
  }

  div#tools div.description-box {
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    color: #5f4816;
    margin: auto;
    width: 50%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  div#tools div.calculator {
    width: 40%;
    margin: auto;
    font-size: medium;
  }

  div#tools div.calculator input[type="text"] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div#tools div.calculator input[type="button"],
  div#tools div.calculator input[type="reset"] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }

  div#tools div.calculator input[type="button"].btn {
    width: 50%;
  }

  div#conts {
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 15px;
    width: 80%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(240, 115, 13);
    display: block;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    width: auto;
    height: 120px;
    border-radius: 10px;
    /* border: 2px solid rgb(180, 193, 201); */
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    display: block;
    margin: auto;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgba(221, 206, 118, 0.699);
  }

  div#conts div.contact-info kbd {
    font-size: 14px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  div#home {
    margin-bottom: 100px;
  }

  header h2 {
    font-size: 22px;
  }

  div#home div.date-time iframe {
    background-color: rgb(255, 233, 37);
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    width: 22%;
    height: 65px;
    display: block;
    margin: auto;
    margin-top: 5px;
  }

  div#home div.description-box {
    font-size: 14px;
    max-width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  div#home div.img img {
    width: 40%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
  }

  footer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: small;
  }

  footer button {
    font-size: 14px;
    margin: auto;
  }

  footer div.copyright {
    font-size: 12px;
    margin: auto;
    padding: 10px;
  }

  div#prds {
    margin-bottom: 100px;
  }

  div#prds div.row {
    margin-left: 160px;
    margin-right: 40px;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    float: left;
    width: 28%;
    height: 280px;
    position: relative;
    display: block;
    background-color: #d35a21c2;
    margin: 4px;
    color: rgb(240, 213, 213);
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    box-shadow: 0px 0px 3px 3px #fa936a;
  }

  div#prds div.row div.column img {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
    /* object-fit: cover; */
    display: block;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
  }

  div#prds div.row div.column div.box {
    padding: 2px;
    padding-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ....";
  }

  div#prds div.row div.column p.title {
    font-weight: bold;
    font-size: 14px;
    color: #f8ed89;
    margin-bottom: 4px;
    padding-left: 3px;
    width: fit-content;
  }

  div#prds div.row div.column p.price {
    font-size: 13px;
    color: #fde6e6;
    font-weight: bold;
    padding-left: 3px;
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding: 3px;
    margin-top: 4px;
    margin-left: 4px;
    width: fit-content;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    color: #fff;
    margin-top: -190px;
    height: 270px;
    font-weight: bold;
    border-radius: 20px 20px 10px 10px;
    padding: 15px;
    background-color: rgb(117, 27, 21);
    position: relative;
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 14px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 12px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 5px;
    border-bottom: #f8b972 3px solid;
    padding: 2px 2px 10px 2px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  div#prds div.row div.column div#description-box p.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    border-bottom: none;
    border-radius: 0;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ..more";
  }

  div#tools {
    margin-bottom: 330px;
  }

  div#tools div.description-box {
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    color: #5f4816;
    margin: auto;
    width: 50%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  div#tools div.calculator {
    width: 30%;
    margin: auto;
    font-size: medium;
  }

  div#tools div.calculator input[type="text"] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div#tools div.calculator input[type="button"],
  div#tools div.calculator input[type="reset"] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }

  div#tools div.calculator input[type="button"].btn {
    width: 50%;
  }

  div#conts {
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 15px;
    width: 70%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(240, 115, 13);
    display: block;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    display: block;
    margin: auto;
    border-radius: 8px;
    width: auto;
    height: 120px;
    object-fit: cover;
    display: block;
    position: relative;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgba(221, 206, 118, 0.699);
  }

  div#conts div.contact-info kbd {
    font-size: 14px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  div#home {
    margin-bottom: 100px;
  }

  header h2 {
    font-size: 22px;
  }

  div#home div.date-time iframe {
    background-color: rgb(255, 233, 37);
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    width: 18%;
    height: 65px;
    display: block;
    margin: auto;
    margin-top: 5px;
  }

  div#home div.description-box {
    font-size: 14px;
    max-width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  div#home div.img img {
    width: 45%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
  }

  footer {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: medium;
  }

  footer div.menu a {
    font-size: medium;
  }

  footer div.copyright {
    font-size: 12px;
    margin: auto;
    padding: 10px;
  }

  div#prds {
    margin-bottom: 90px;
  }

  div#prds div.row {
    margin: auto;
    margin-top: 5px;
    margin-left: 180px;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    float: left;
    width: 20%;
    height: 280px;
    position: relative;
    display: block;
    border: 1.8px solid rgba(235, 202, 59, 0.753);
    background-color: #d35a21c2;
    margin: 4px;
    color: rgb(240, 213, 213);
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    box-shadow: 0px 0px 3px 3px #fa936a;
  }

  div#prds div.row div.column img {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
    /* object-fit: cover; */
    display: block;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
  }

  div#prds div.row div.column div.box {
    padding: 2px;
    padding-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ....";
  }

  div#prds div.row div.column p.title {
    font-weight: bold;
    font-size: 14px;
    color: #fdd44b;
    margin-bottom: 4px;
    padding-left: 3px;
    width: fit-content;
  }

  div#prds div.row div.column p.price {
    font-size: 12px;
    color: #fde6e6;
    font-weight: bold;
    padding-left: 3px;
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding: 3px;
    margin-top: 4px;
    margin-left: 4px;
    width: fit-content;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    color: #fff;
    margin-top: -185px;
    height: 263px;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    background-color: rgb(117, 27, 21);
    border-radius: 20px 20px 10px 10px;
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 14px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 12px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 5px;
    border-bottom: #f8b972 3px solid;
    padding: 2px 2px 10px 2px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  div#prds div.row div.column div#description-box p.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    border-bottom: none;
    border-radius: 0;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ..more";
  }

  div#tools {
    margin-bottom: 330px;
  }

  div#tools div.description-box {
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    margin: auto;
    width: 30%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  div#tools div.calculator {
    width: 20%;
    margin: auto;
    font-size: medium;
  }

  div#tools div.calculator input[type="text"] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div#tools div.calculator input[type="button"],
  div#tools div.calculator input[type="reset"] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }

  div#tools div.calculator input[type="button"].btn {
    width: 50%;
  }

  div#conts {
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 30px;
    width: 70%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(240, 115, 13);
    display: block;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts kbd {
    background: none;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.about-text .profilepic {
    width: auto;
    height: 120px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    display: block;
    margin: auto;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgba(221, 206, 118, 0.699);
  }

  div#conts div.contact-info kbd {
    font-size: 14px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: 14px;
  }
}

/* Extra extra large devices (large laptops and desktops, 1400px and up) */

@media only screen and (min-width: 1400px) {
  div#home {
    margin-bottom: 100px;
  }

  header h2 {
    font-size: 24px;
  }

  div#home div.date-time iframe {
    background-color: rgb(255, 233, 37);
    padding: 4px 12px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    width: 15%;
    height: 70px;
    float: right;
    margin-right: 20px;
  }

  div#home div.description-box {
    font-size: 16px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 25px;
  }

  div#home div.img img {
    width: 50%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
  }

  footer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  footer div.menu a {
    font-size: 16px;
  }

  footer div.copyright {
    font-size: 14px;
    margin: auto;
    padding: 10px;
  }

  div#prds {
    margin-bottom: 100px;
  }

  div#prds div.row {
    margin: auto;
    margin-top: 5px;
    margin-left: 200px;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    float: left;
    width: 20%;
    height: 325px;
    position: relative;
    display: block;
    border: 1.8px solid rgba(235, 202, 59, 0.753);
    background-color: #d35a21c2;
    margin: 4px;
    color: rgb(240, 213, 213);
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    box-shadow: 0px 0px 3px 3px #fa936a;
  }

  div#prds div.row div.column img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 230px;
    /* object-fit: cover; */
    display: block;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
  }

  div#prds div.row div.column div.box {
    padding: 2px;
    padding-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ....";
  }

  div#prds div.row div.column p.title {
    font-weight: bold;
    font-size: 14px;
    color: #fdd44b;
    margin-bottom: 5px;
    padding-left: 3px;
    width: fit-content;
  }

  div#prds div.row div.column p.price {
    font-size: 14px;
    color: #fde6e6;
    font-weight: bold;
    padding-left: 3px;
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding: 3px;
    margin-top: 7px;
    margin-left: 4px;
    width: fit-content;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    color: #fff;
    margin-top: -225px;
    height: 318px;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    background-color: rgb(117, 27, 21);
    border-radius: 20px 20px 10px 10px;
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 16px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-top: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 14px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 5px;
    border-bottom: #f8b972 3px solid;
    padding: 2px 2px 10px 2px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  div#prds div.row div.column div#description-box p.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    border-bottom: none;
    border-radius: 0;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: " ..more";
  }

  div#tools {
    margin-bottom: 330px;
  }

  div#tools div.description-box {
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    margin: auto;
    width: 50%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  div#tools div.calculator {
    width: 15%;
    margin: auto;
    font-size: medium;
  }

  div#tools div.calculator input[type="text"] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  div#tools div.calculator input[type="button"],
  div#tools div.calculator input[type="reset"] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }

  div#tools div.calculator input[type="button"].btn {
    width: 50%;
  }

  div#conts {
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 20px;
    width: 60%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: medium;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(253, 152, 69);
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    display: block;
    margin: auto;
    border-radius: 8px;
    width: auto;
    height: 135px;
    object-fit: cover;
    display: block;
    position: relative;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgba(221, 206, 118, 0.699);
  }

  div#conts div.contact-info kbd {
    font-size: 16px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: 16px;
  }
}