* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: none;
  background-color: rgb(0, 0, 0);
}

::selection {
  background-color: rgba(238, 6, 6, 0.418);
  backdrop-filter: blur(5px);
  color: #fff;
}

header h2 {
  color: gold;
  text-align: center;
  padding: 8px;
  border-radius: 0 0 25px 25px;
  background-color: rgba(219, 50, 168, 0.473);
  backdrop-filter: blur(20px);
  user-select: none;
  display: block;
  width: 100%;
  top: 0;
  -webkit-position: sticky;
  position: sticky;
  position: fixed;
  z-index: 3;
}

header h2:hover {
  text-decoration: 2px underline rgb(255, 217, 0);
}

div#home div.description-box {
  background-color: rgba(70, 4, 45, 0.808);
  color: rgb(255, 169, 169);
  border-radius: 15px;
  font-weight: bold;
  padding: 20px 15px;
  text-align: start;
  text-align: end;
  text-align: left;
  text-align: right;
  text-align: center;
  text-align: justify;
  margin-bottom: 10px;
}

div#home div.description-box kbd {
  color: rgba(255, 255, 0, 0.932);
  font-weight: bold;
}

div#home div.description-box kbd.title {
  color: #e4d3eb;
}

/* Clear floats after the columns */
div.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  user-select: none;
  width: 100%;
  margin: auto;
}

footer button {
  background-color: rgb(36, 14, 14);
  color: wheat;
  border: none;
  outline: none;
  padding: 15px;
  display: block;
  float: left;
  margin: auto;
  text-align: center;
  width: 25%;
  border-right: 0.5px solid rgb(211, 174, 174);
  cursor: pointer;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

footer button.active {
  font-weight: bold;
  background-color: rgb(165, 18, 18);
  border-bottom-right-radius: 18px;
  transition: 0.5s;
}

footer button:hover {
  font-weight: bold;
  background-color: rgb(165, 18, 18);
}

footer button:active {
  font-weight: bold;
  background-color: rgb(165, 18, 18);
}

footer button:nth-child(5) {
  border-bottom-right-radius: 10px;
}

footer button:nth-child(2) {
  border-bottom-left-radius: 10px;
}

footer button:nth-child(4):active {
  font-weight: bold;
  background-color: rgb(165, 18, 18);
}

/* .btn {
  padding: 10px 15px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgba(105, 103, 212, 0.726);
  color: #fff;
  user-select: none;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:hover {
  background-color: rgba(132, 130, 247, 0.726);
  color: #fff;
  border-left: 3px solid rgba(175, 80, 80, 0.801);
  border-right: 3px solid rgba(175, 80, 80, 0.801);
}

.btn:active {
  background-color: rgba(204, 114, 114, 0.658);
} */

footer div.copyright {
  background-color: rgb(59, 11, 11);
  padding: 10px;
  text-align: center;
  /* width: fit-content; */
  color: #fff;
  font-size: small;
  border-top: 2px solid rgba(253, 120, 120, 0.801);
  border-bottom: 1px solid rgba(175, 80, 80, 0.801);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 550px) {

  div#home {
    margin-top: 42px;
    margin-bottom: 90px;
  }

  div#home header h2 {
    font-size: 16px;
  }

  div#home div.date-time iframe {
    background-color:rgb(255, 233, 37);
    padding: 2px 12px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    width: 70%;
    height: 65px;
    display: block;
    margin: auto;
  }

  div#home div.description-box {
    font-size: 12px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  div#home div.img img {
    width: 80%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
  }

  footer button {
    font-size: small;
    margin: auto;
  }

  footer div.copyright {
    font-size: 11px;
    margin: auto;
  }

  div#prds {
    margin-top: 50px;
    margin-bottom: 85px;
  }

  div#prds div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    margin: auto;
    margin: 3px;
    position: relative;
    width: 250px;
    height: 322px;
    display: block;
    padding: 15px;
    border: 2px solid rgba(212, 155, 32, 0.829);
    background-color: #7c3e04a2;
    /* background: repeating-linear-gradient(
      45deg,
      rgba(186, 70, 240, 0.884) 5px,
      rgba(235, 38, 241, 0.534) 8px,
      rgba(172, 1, 214, 0.425) 10px,
      rgba(162, 4, 177, 0.753) 20px
    )
      rgba(150, 8, 95, 0.568); */
    color: rgb(255, 255, 255);
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    border: 2px solid rgba(255, 160, 52, 0.849);
  }

  div#prds div.row div.column img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    position: relative;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 8px 8px 0 0;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
  }

  div#prds div.row div.column div.box {
    padding-left: 2px;
  }

  div#prds div.row div.column span.title {
    font-weight: bold;
    font-size: 14px;
    color: #fccd75;
  }

  div#prds div.row div.column span.price {
    font-size: 12px;
    color: #fde6e6;
    font-weight: bold;
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding: 3px;
    margin-top: 5px;
    width: fit-content;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    color: #fff;
    margin-top: -184px;
    height: 250px;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px 20px 10px 10px;
    padding: 15px;
    background-color: rgb(177, 66, 3);
    /* background: repeating-linear-gradient(
      45deg,
      rgb(236, 216, 113) 5px,
      rgb(243, 209, 56) 5px,
      rgb(233, 230, 41) 5px,
      rgba(160, 150, 10, 0.788) 10px
    )
    rgb(115, 255, 0); */
    position: relative;
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 14px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 12px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 5px;
    border-bottom: #f58a0f 3px solid;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 6px;
  }

  div#prds div.row div.column div#description-box span.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    padding: 3px;
  }

  div#tools {
    margin-top: 50px;
    margin-bottom: 330px;
  }

  div#tools div.description-box{
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    margin: auto;
    width: 85%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  div#tools div.calculator {
    width: 80%;
    margin: auto;
    font-size: medium;
  }
  
  div#tools div.calculator input[type=text] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  div#tools div.calculator input[type=button], div#tools div.calculator input[type=reset] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }
  
  div#tools div.calculator input[type=button].btn {
    width: 50%;
  }

  div#conts {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 15px;
    width: 90%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    line-height: 16px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(240, 115, 13);
    display: block;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    width: auto;
    height: 110px;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    display: block;
    margin: auto;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(221, 206, 118, 0.699);
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
  }

  div#conts div.contact-info kbd {
    font-size: 12px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: small;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 550px) {

  div#home {
    margin-top: 45px;
    margin-bottom: 100px;
  }

  header h2 {
    font-size: 20px;
  }

  div#home div.date-time iframe {
    background-color:rgb(255, 233, 37);
    padding: 2px 12px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    width: 40%;
    height: 65px;
    display: block;
    margin: auto;
  }

  div#home div.description-box {
    font-size: 14px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  div#home div.img img {
    width: 60%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
  }

  footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: small;
  }
  
  footer button {
    background-color: rgb(36, 14, 14);
    color: wheat;
  }

  footer div.copyright {
    font-size: 12px;
    margin: auto;
  }

  div#prds {
    margin-top: 40px;
    margin-bottom: 85px;
  }

  div#prds div.row {
    margin: auto;
    margin-left: 100px;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    position: relative;
    display: block;
    border: 2px solid rgba(119, 150, 9, 0.753);
    background-color: #7c3e04a2;
    float: left;
    width: 40%;
    height: 260px;
    padding: 10px;
    color: rgb(240, 213, 213);
    margin: auto;
    margin: 2px;
    font-family: arial;
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    border: 2px solid rgba(255, 160, 52, 0.849);
  }

  div#prds div.row div.column img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 170px;
    /* object-fit: cover; */
    display: block;
    position: relative;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
  }

  div#prds div.row div.column div.box {
    padding-left: 2px;
  }

  div#prds div.row div.column span.title {
    font-weight: bold;
    font-size: 12px;
    color: #f8ed89;
    width: fit-content;
  }

  div#prds div.row div.column span.price {
    font-size: 12px;
    color: #fde6e6;
    font-weight: bold;
    margin-bottom: 5px;
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding: 3px;
    margin-top: 5px;
    width: fit-content;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 15px 15px 10px 10px;
    margin-top: -168px;
    height: 235px;
    padding: 8px;
    position: relative;
    background-color: rgb(160, 82, 4);
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 14px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 12px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 6px;
  }

  div#prds div.row div.column div#description-box span.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    padding: 3px;
  }

  div#tools {
    margin-top: 50px;
    margin-bottom: 330px;
  }

  div#tools div.description-box{
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    margin: auto;
    width: 50%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  div#tools div.calculator {
    width: 50%;
    margin: auto;
    font-size: medium;
  }
  
  div#tools div.calculator input[type=text] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  div#tools div.calculator input[type=button], div#tools div.calculator input[type=reset] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }
  
  div#tools div.calculator input[type=button].btn {
    width: 50%;
  }

  div#conts {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 15px;
    width: 80%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(240, 115, 13);
    display: block;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    width: auto;
    height: 120px;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    display: block;
    margin: auto;
  }

  div#conts div.contact-info kbd {
    font-size: 14px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgba(221, 206, 118, 0.699);
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: 13px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 

  header h2 {
    font-size: 20px;
  } 
  
  div#home {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#home div.date-time iframe {
    background-color:rgb(255, 233, 37);
    padding: 2px 12px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    width: 30%;
    height: 65px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
  }

  div#home div.description-box {
    font-size: 14px;
    max-width: 50%;
    margin-bottom: 10px;
  }

  div#home div.img img {
    width: 50%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
  }

  footer {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  footer button {
    font-size: 12px;
    margin: auto;
  }

  footer div.copyright {
    font-size: 12px;
    margin: auto;
  }

  div#prds {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#prds div.row {
    margin-left: 130px;
    margin-right: 50px;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    float: left;
    width: 30%;
    height: 270px;
    position: relative;
    display: block;
    border: 1.8px solid rgba(235, 202, 59, 0.753);
    background-color: #7c3e04a2;
    padding: 10px;
    margin: 2px;
    color: rgb(240, 213, 213);
    font-family: arial;
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    border: 2px solid rgba(255, 160, 52, 0.849);
  }

  div#prds div.row div.column img {
    border-radius: 8px 8px 0 0;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    width: 100%;
    height: 180px;
    /* object-fit: cover; */
    display: block;
    position: relative;
  }

  div#prds div.row div.column div.box {
    padding-left: 1px;
  }

  div#prds div.row div.column span.title {
    font-weight: bold;
    font-size: 14px;
    color: #fcc0c0;
    width: fit-content;
  }

  div#prds div.row div.column span.price {
    font-size: 12px;
    color: #fde6e6;
    font-weight: bold;
    margin-bottom: 5px;
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding: 3px;
    margin-top: 5px;
    width: fit-content;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    margin-top: -133px;
    height: 200px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background-color: rgb(226, 123, 26);
    border: 1px solid rgba(199, 187, 20, 0.842);
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 14px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 12px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 6px;
  }

  div#prds div.row div.column div#description-box span.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    padding: 3px;
  }

  div#tools {
    margin-top: 50px;
    margin-bottom: 330px;
  }

  div#tools div.description-box{
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    margin: auto;
    width: 50%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  div#tools div.calculator {
    width: 40%;
    margin: auto;
    font-size: medium;
  }
  
  div#tools div.calculator input[type=text] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  div#tools div.calculator input[type=button], div#tools div.calculator input[type=reset] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }
  
  div#tools div.calculator input[type=button].btn {
    width: 50%;
  }

  div#conts {
    margin-top: 48px;
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 15px;
    width: 80%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(240, 115, 13);
    display: block;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    width: auto;
    height: 120px;
    border-radius: 10px;
    /* border: 2px solid rgb(180, 193, 201); */
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    display: block;
    margin: auto;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgba(221, 206, 118, 0.699);
  }

  div#conts div.contact-info kbd {
    font-size: 14px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {  
  
  div#home {
    margin-top: 48px;
    margin-bottom: 100px;
  }

  div#home header h2 {
    font-size: 22px;
  }

  div#home div.date-time iframe {
    background-color:rgb(255, 233, 37);
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    width: 22%;
    height: 65px;
    display: block;
    margin: auto;
  }

  div#home div.description-box {
    font-size: 12px;
    max-width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  div#home div.img img {
    width: 40%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
  }

  footer button {
    font-size: 14px;
    margin: auto;
  }

  footer div.copyright {
    font-size: 12px;
    margin: auto;
  }

  div#prds {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#prds div.row {
    margin-left: 160px;
    margin-right: 40px;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    float: left;
    width: 28%;
    height: 290px;
    position: relative;
    display: block;
    border: 1.8px solid rgba(235, 202, 59, 0.753);
    background-color: #7c3e04a2;
    padding: 10px;
    margin: 2px;
    color: rgb(240, 213, 213);
    font-family: arial;
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    border: 1.8px solid rgba(255, 160, 52, 0.849);
  }

  div#prds div.row div.column img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 200px;
    /* object-fit: cover; */
    display: block;
    position: relative;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
  }

  div#prds div.row div.column div.box {
    padding-left: 2px;
  }

  div#prds div.row div.column span.title {
    font-weight: bold;
    font-size: 14px;
    color: #fdd44b;
    width: fit-content;
  }

  div#prds div.row div.column span.price {
    font-size: 12px;
    color: #fde6e6;
    font-weight: bold;
    margin-bottom: 5px;
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding: 3px;
    margin-top: 5px;
    width: fit-content;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    color: #fff;
    margin-top: -133px;
    height: 200px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background-color: rgb(160, 82, 4);
    border-radius: 15px 15px 10px 10px;
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 14px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 12px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 6px;
  }

  div#prds div.row div.column div#description-box span.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    padding: 3px;
  }

  div#tools {
    margin-top: 50px;
    margin-bottom: 330px;
  }

  div#tools div.description-box{
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    margin: auto;
    width: 50%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  div#tools div.calculator {
    width: 30%;
    margin: auto;
    font-size: medium;
  }
  
  div#tools div.calculator input[type=text] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  div#tools div.calculator input[type=button], div#tools div.calculator input[type=reset] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }
  
  div#tools div.calculator input[type=button].btn {
    width: 50%;
  }

  div#conts {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 15px;
    width: 70%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(240, 115, 13);
    display: block;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    display: block;
    margin: auto;
    border-radius: 8px;
    width: auto;
    height: 120px;
    object-fit: cover;
    display: block;
    position: relative;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgba(221, 206, 118, 0.699);
  }

  div#conts div.contact-info kbd {
    font-size: 14px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  div#home {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#home header h2 {
    font-size: 22px;
  }

  div#home div.date-time iframe {
    background-color:rgb(255, 233, 37);
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid rgb(255, 233, 37);
    width: 18%;
    height: 65px;
    display: block;
    margin: auto;
  }

  div#home div.description-box {
    font-size: 14px;
    max-width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  div#home div.img img {
    width: 45%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
  }

  footer button {
    font-size: 14px;
    margin: auto;
  }

  footer div.copyright {
    font-size: 12px;
    margin: auto;
  }

  div#prds {
    margin-top: 45px;
    margin-bottom: 90px;
  }

  div#prds div.row {
    margin: auto;    
    margin-left: 180px;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    float: left;
    width: 20%;
    height: 290px;
    position: relative;
    display: block;
    border: 1.8px solid rgba(235, 202, 59, 0.753);
    background-color: #7c3e04a2;
    padding: 10px;
    margin: 2px;
    color: rgb(240, 213, 213);
    font-family: arial;
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    border: 1.8px solid rgba(255, 160, 52, 0.849);
  }

  div#prds div.row div.column img {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
    /* object-fit: cover; */
    display: block;
    position: relative;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
  }

  div#prds div.row div.column div.box {
    padding-left: 2px;
  }

  div#prds div.row div.column span.title {
    font-weight: bold;
    font-size: 14px;
    color: #fdd44b;
    width: fit-content;
  }

  div#prds div.row div.column span.price {
    font-size: 12px;
    color: #fde6e6;
    font-weight: bold;
    margin-bottom: 5px;
  }

  div#prds div.row div.column div.box p.go-to {
    color: #f3eead;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 2.5px solid rgba(247, 214, 70, 0.925);
    padding: 3px;
    margin-top: 5px;
    width: fit-content;
  }

  div#prds div.row div.column div#description-box {
    display: none;
    color: #fff;
    margin-top: -133px;
    height: 200px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background-color: rgb(160, 82, 4);
    border-radius: 15px 15px 10px 10px;
  }

  div#prds div.row div.column div#description-box p.title {
    font-size: 14px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }

  div#prds div.row div.column div#description-box p {
    font-size: 12px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 6px;
  }

  div#prds div.row div.column div#description-box span.go-back {
    color: #fff459;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(255, 253, 157, 0.575);
    padding: 3px;
  }

  div#tools {
    margin-top: 50px;
    margin-bottom: 330px;
  }

  div#tools div.description-box{
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    margin: auto;
    width: 30%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  div#tools div.calculator {
    width: 20%;
    margin: auto;
    font-size: medium;
  }
  
  div#tools div.calculator input[type=text] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 2px solid rgb(139, 126, 247);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  div#tools div.calculator input[type=button], div#tools div.calculator input[type=reset] {
    border: none;
    outline: 1px solid rgba(49, 39, 139, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }
  
  div#tools div.calculator input[type=button].btn {
    width: 50%;
  }

  div#conts {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 30px;
    width: 70%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(240, 115, 13);
    display: block;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts kbd {
    background: none;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.about-text .profilepic {
    width: auto;
    height: 120px;
    border-radius: 10px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    display: block;
    margin: auto;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgba(221, 206, 118, 0.699);
  }

  div#conts div.contact-info kbd {
    font-size: 14px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: 14px;
  }
}

/* Extra extra large devices (large laptops and desktops, 1400px and up) */

@media only screen and (min-width: 1400px) {
  header h2 {
    font-size: 22px;
  }

  div#home {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#home div.description-box {
    font-size: 18px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  div#home div.img img {
    width: 40%;
    display: block;
    margin: auto;
    object-fit: cover;
    position: relative;
    border: #8f044a 2px solid;
    border-radius: 10px;
  }

  footer button {
    font-size: medium;
    margin: auto;
  }

  footer div.copyright {
    font-size: medium;
    margin: auto;
  }

  div#prds {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#prds div.row {
    margin: auto;
  }

  /* Create two equal columns that floats next to each other */
  div#prds div.row div.column {
    float: left;
    width: 16.666666667%;
    height: 305px;
    position: relative;
    display: block;
    padding: 12px;
    border: 2px solid rgba(228, 118, 118, 0.678);
    background-color: #a825255b;
    float: left;
    padding: 10px;
    color: rgb(240, 213, 213);
    margin: auto;
    font-family: arial;
    border-radius: 10px;
  }

  div#prds div.row div.column:hover {
    border: 2px solid rgba(197, 37, 37, 0.815);
  }

  div#prds div.row div.column img {
    border-radius: 8px 8px 0 0;
    border: 2px solid rgb(125, 25, 150);
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    position: relative;
  }

  div#prds div.row div.column span.title {
    font-weight: bold;
    font-size: 16px;
    color: #e6e94c;
  }

  div#prds div.row div.column span.price {
    font-size: 14px;
    border-bottom: 1px solid rgb(245, 207, 103);
  }

  div#prds div.row div.column div#box1 span#d1,
  div#box2 span#d2,
  div#box3 span#d3,
  div#box4 span#d4,
  div#box5 span#d5,
  div#box6 span#d6 {
    font-weight: bold;
    font-size: 14px;
    background: none;
    padding: 3px;
    border-left: 2px solid rgba(225, 151, 243, 0.575);
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
  }

  div#prds div.row div.column div.decrptn,
  div.decrptn1,
  div.decrptn2,
  div.decrptn3,
  div.decrptn4,
  div.decrptn5 {
    display: none;
    color: #fff;
    margin-top: -90px;
    height: 170px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background-color: rgb(182, 89, 35);
  }

  div#prds div.row div.column div.decrptn p.title,
  div.decrptn1 p.title,
  div.decrptn2 p.title,
  div.decrptn3 p.title,
  div.decrptn4 p.title,
  div.decrptn5 p.title {
    font-size: 16px;
    color: rgb(253, 221, 178);
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
  }

  div#prds div.row div.column div.decrptn p,
  div.decrptn1 p,
  div.decrptn2 p,
  div.decrptn3 p,
  div.decrptn4 p,
  div.decrptn5 p {
    font-size: 14px;
    display: block;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 10px;
  }

  div#prds div.row div.column div.decrptn span#b1,
  div.decrptn1 span#b2,
  div.decrptn2 span#b3,
  div.decrptn3 span#b4,
  div.decrptn4 span#b5,
  div.decrptn5 span#b6 {
    color: #fff459;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
    border-left: 3px solid rgba(225, 151, 243, 0.575);
    padding: 3px;
  }

  div#tools {
    margin-top: 50px;
    margin-bottom: 330px;
  }

  div#tools div.description-box{
    padding: 15px;
    border-radius: 15px;
    background-color: #f3eead;
    margin: auto;
    width: 50%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  div#tools div.calculator {
    width: 10%;
    margin: auto;
    font-size: medium;
  }
  
  div#tools div.calculator input[type=text] {
    font-size: medium;
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    outline: 1px solid rgb(14, 98, 224);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  div#tools div.calculator input[type=button], div#tools div.calculator input[type=reset] {
    border: none;
    outline: 1px solid rgba(255, 38, 0, 0.623);
    padding: 15px;
    float: left;
    margin: auto;
    width: 25%;
    border-radius: 8px;
  }
  
  div#tools div.calculator input[type=button].btn {
    width: 50%;
  }

  div#conts {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  div#conts div.about-text {
    padding: 20px;
    width: 60%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: medium;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 166, 0, 0.541);
    border: 2px solid rgb(253, 152, 69);
    display: block;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#conts div.about-text .profilepic {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(230, 212, 212, 0.5)
    );
    display: block;
    margin: auto;
    border-radius: 8px;
    width: auto;
    height: 135px;
    object-fit: cover;
    display: block;
    position: relative;
  }

  div#conts div.contact-info {
    width: fit-content;
    display: block;
    background-color: #83853a6e;
    color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid rgba(221, 206, 118, 0.699);
  }

  div#conts div.contact-info kbd {
    font-size: 16px;
    color: rgba(255, 255, 0, 0.925);
    font-weight: bold;
  }

  div#conts div.contact-info i {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }

  div#conts div.contact-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: none;
    font-size: 16px;
  }
}
